.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    min-height: 10em;
    width: 100%;
}
.landingPageForm {
    border: groove 2px rgb(199, 199, 199);
    border-radius: .5em;
    height: 100%;
    margin: 2em;
    width: 40%;
    background-color: white;
    max-width: 500px;
}
.saveDescription{
    border: groove 2px rgb(199, 199, 199);
    border-radius: .5em;
    margin: 2em;
    width: 40%;
    background-color: white;
    max-width: 500px;
    padding: 1em;
}
.accountForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 97%;
    width: 100%;
}
.formItem {
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.formInput {
    height: 2em;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0);
    border: groove 2px rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    padding: 0 0 0 .3em;
}
.formInput:focus {
    transition: .05s linear;
    background-color: rgba(206, 206, 206, 0.795);
}
.formInput::placeholder {
    color: rgb(88, 88, 88);
    opacity: 1;
  }
  
.formInput::-ms-input-placeholder {
    color: rgb(177, 207, 182);
  }
  
.formInput::-ms-input-placeholder {
    color: rgb(177, 207, 182);
  }
.accFormBtn {
    padding: .025em .4em;
    border: none;
    background-color:rgb(36, 41, 47);
    color:rgb(253, 255, 234);
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 1em;
    transition: .05s linear all;
    margin: .5em 0;
}
.accFormBtn:hover {
    transform: scale(1.05);
}
.registerLoginSwitch{
    font-size: 1em;
    padding: .2em .5em;
    background-color: rgb(45, 129, 73);
    margin: .5em 0;
}
.registerLoginSwitch:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .landingPageForm {
        margin: 2em .5em;
        width: 90vw;
    }
    .saveDescription{
        width: 90vw;
    }
}